:root {
  /* colors */
  --color-primary: #05080d;
  --color-secondary: #66666e;
  --color-white: #fdfffc;
  --color-warning: #f21b3f;
  --color-background: #161b22;
  --color-navy-blue: #2d7dd2;
  --color-orange-yellow: #eeb902;

  /* animation */
  --transition-base: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  --transition-slow: all 0.8s cubic-bezier(0.25, 0.8, 0.25, 1);
  --scale-base: scale(1.2);

  /* shadows */
  --shadow-base: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --shadow-hover: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  --shadow-focus: 0px 0px 0px 1px rgba(0, 0, 0, 0.6);
}

* {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Ubuntu', sans-serif;
}
