.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-background);
}
.card {
  width: 352px;
  height: 552px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  padding: 24px 32px;
  background-color: var(--color-white);
}
.c-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.c-slider {
  position: relative;
}
.c-slider__frame {
  height: 206px;
  max-height: 206px;
  display: flex;
  overflow: hidden;
}
.c-slider__image {
  border-radius: 8px;
  display: none;
}
.c-slider__image.active {
  display: block;
}
.c-slider__button-box {
  position: absolute;
  top: 45%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.c-slider__button {
  width: 24px;
  height: 24px;
  fill: currentColor;
  cursor: pointer;
  color: var(--color-secondary);
  transition: var(--transition-base);
}
.c-slider__button:hover,
.c-slider__button:focus {
  color: var(--color-primary);
  transform: var(--scale-base);
}

.c-price {
  position: relative;
  z-index: 2;
  overflow: hidden;
  width: min-content;
  padding-right: 16px;
  margin-top: -18px;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--color-white);
  border: 2px solid var(--color-primary);
  box-shadow: var(--shadow-base);
}
.c-price__button {
  width: 56px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 8px;
  padding-right: 10px;
  fill: currentColor;
  cursor: pointer;
  color: var(--color-primary);
  border-right: 2px solid var(--color-primary);
  transition: var(--transition-slow);
}
.c-price__button:hover,
.c-price__button:focus {
  box-shadow: inset 6.5em 0 0 0 var(--color-primary);
  color: var(--color-white);
}
.c-price__icon {
  width: 24px;
  height: 24px;
}
.c-price__values {
  min-width: 128px;
  padding-left: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--color-primary);
}
.c-price__old {
  font-size: 1rem;
  margin-right: 8px;
  text-decoration-line: line-through;
}
.c-price__current {
  font-size: 1.5rem;
  font-weight: 500;
}

.c-heading {
  width: 100%;
  margin-top: 16px;
}
.c-heading__quantity {
  min-height: 19px;
  font-size: 1rem;
  font-weight: 500;
  color: var(--color-warning);
}
.c-heading__title {
  margin-top: 4px;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--color-primary);
}
.c-heading__description {
  width: 100%;
  margin-top: 16px;
  font-size: 1rem;
  font-weight: 300;
  line-height: 120%;
  color: var(--color-secondary);
}

.c-actions {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.c-actions__main {
  display: flex;
  gap: 8px;
}
.c-actions__btn {
  width: 24px;
  height: 24px;
  fill: currentColor;
  cursor: pointer;
  color: var(--color-secondary);
  transition: var(--transition-base);
}
.c-actions__btn:hover,
.c-actions__btn:focus {
  transform: var(--scale-base);
  color: var(--color-primary);
}
.c-actions__btn.like.active {
  color: var(--color-warning);
}
.c-actions__btn.share.active {
  color: var(--color-navy-blue);
}
.c-actions__btn.compare.active {
  color: var(--color-orange-yellow);
}
